[Unit]
Description=TrafficSentinel (run in 30s bursts, restart every 30s)
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Traffic-Sentinel
ExecStart=/usr/bin/python3 /root/Traffic-Sentinel/cli.py run

# Run 30 seconds, then systemd sends SIGTERM (your main.py exits gracefully)
RuntimeMaxSec=30

# Wait 30 seconds, then start again
Restart=always
RestartSec=30

# Make logs visible with journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
